.Product {
  display: flex;
  align-items: center;

  img {
    height: 70px;
    margin-right: 20px;
  }
}

h2 {
  margin-right: 20px;
}

.Wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
